/* Global Styles */
body, html {
   
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #14191E;
    color: #ffffff;
    line-height: 1.6;
}


/* Header Styles */
header {
    background: #14191E;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 10px;
}

.header-content {
    text-align: center;
    padding: 0px 20px;

}

header h1 {
    margin: 0;
    color: #4ecca3;
}

header p {
    color: #ccc;
    margin-top: 10px;
}

.content-wrapper {
    max-width: 768px;
    margin: auto; /* Centers the content */
    padding: 20px; /* Adds padding inside the container */
}

/* If you're using direct elements without a specific class, you can target them individually or use a more general approach */
body > * {
    max-width: 768px;
    margin: auto; /* This targets all direct children of <body> */
    padding: 20px;
}

/* Adjustments for full-width header or footer if needed */
header, footer {
    max-width: 100%;
    margin: auto;
}
/* Navigation Styles */
nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #4ecca3;
}

/* Section Styles */
section {
    padding: 0px 20px;
    text-align: center;
}

/* Button Style */
.btn {
    background-color: #4ecca3;
    color: #14191E;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

/* Project List Styles */
.project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-summary {
    background: #1a2229;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: calc(50% - 40px);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s ease-in-out;
}

.project-summary:hover {
    transform: translateY(-5px);
}



.project-summary a {
    color: #4ecca3;
    font-weight: bold;
    text-decoration: none;
}

.project-summary h3 {
    color: #ccc;
}

.project-summary p {
    color: #ccc;
}

/* Footer Styles */
footer {
    background-color: #14191E;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .project-summary {
        width: 50%;
    }
}


