
html, body, h1, h2, h3, ul, li, a {
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #14191E;
    color: #fff;
    padding: 20px;
    line-height: 1.6;
}

header h1 {
    color: #4ecca3;
}

.post-date {
    font-style: italic;
    color: #666;
}

.post-content p {
    margin: 20px 0;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #888;
}

.content-wrapper {
    max-width: 768px;
    margin: auto; /* Centers the content */
    padding: 20px; /* Adds padding inside the container */
}

/* If you're using direct elements without a specific class, you can target them individually or use a more general approach */
body > * {
    max-width: 768px;
    margin: auto; /* This targets all direct children of <body> */
    padding: 20px;
}

/* Adjustments for full-width header or footer if needed */
header, footer {
    max-width: 100%;
    margin: auto;
}
/* Add additional styles as needed */
