/* Ensuring base styles are applied universally */
html, body {
    
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: 'Arial', sans-serif;
    background-color: #14191E;
    box-sizing: border-box;
}

/* Header styles with increased specificity */
body header {
    background-color: #14191E;
    color: #fff;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 20px;

}

.card a {
    color: #4ecca3;
    font-weight: bold;
    text-decoration: none;
}

/* Navigation styles */
body nav ul li {
    display: inline;
    margin: 0 15px;
}

header h1 {
    margin: 0;
    color: #4ecca3;
}

h3 {
    color: #fff; /* Sets the project titles to a white color */
}

/* Ensuring link styles are explicitly defined */
body nav ul li a, body footer a {
    color: #fff;
    text-decoration: none;
}

/* Projects container with grid layout */
body .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Card styles with a bit more specificity */
body .projects-container .card {
    background: #1a2229;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

/* Hover effect for cards */
body .projects-container .card:hover {
    transform: translateY(-5px);
}

/* Footer styling */
body footer {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: #14191E;
}

#sweprojects {
    margin-top: -40px; /* Reduces the default top margin, making it closer to the #projects section */
}

/* Navigation Styles */
nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

.show-less-btn {
    font-family: 'Arial', sans-serif;
    color: #4ecca3;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}

.show-less-btn:hover {
    text-decoration: underline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #4ecca3;
}

/* Section Styles */
section {
    padding: 10px 20px;
    text-align: center;
}

/* Button Style */
.btn {
    background-color: #4ecca3;
    color: #14191E;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

/* Hide all .card elements initially */
.projects-container .card,.sweprojects-container .card {
    display: none;
}

/* Show only the first four .card elements */
.projects-container .card:nth-of-type(-n+4),
.sweprojects-container .card:nth-of-type(-n+4) {
    display: block;
}


/* Project List Styles */
.project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-summary {
    background: #1a2229;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: calc(50% - 40px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.project-summary h3 {
    color: #4ecca3;
}

.project-summary p {
    color: #ccc;
}

/* Footer Styles */
footer {
    background-color: #14191E;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.content-wrapper {
    max-width: 768px;
    margin: auto; /* Centers the content */
    padding: 20px; /* Adds padding inside the container */
}

/* If you're using direct elements without a specific class, you can target them individually or use a more general approach */
body > * {
    max-width: 768px;
    margin: auto; /* This targets all direct children of <body> */
    padding: 20px;
}

/* Adjustments for full-width header or footer if needed */
header, footer {
    max-width: 100%;
    margin: auto;
}

@media (max-width: 768px) {
    .project-summary {
        width: 100%;
    }
}

.load-more-btn {
    font-family: 'Arial', sans-serif;
    color: #4ecca3;
    background: none; /* Removes any background styling */
    border: none; /* Removes the border */
    padding: 0; /* Adjust or remove padding as needed */
    cursor: pointer; /* Changes the cursor to indicate the text is clickable */
    font-weight: bold;
    margin-top: 20px;
}

.load-more-btn:hover {
    text-decoration: underline; /* Optional: Adds underline on hover for visual feedback */
}